{% block ordermanager_admin_requ_notinfolder %}
    <dl class="{{ blActionRestriction }}">
        {% include "@d3ordermanager/admin/inc/d3ordermanager_activeswitch.html.twig" with {oActionRequ: oRequ, blActionRestriction: blActionRestriction, readonly: readonly} %}
        <dd>
            {% if oView.isEditMode() %}
                {% block ordermanager_admin_requ_notinfolder_editor %}
                    <input type="hidden" name="value[sNotInFolderId]" value="">
                    <label for="sNotInFolderId" style="position: absolute; left: -2000px">{{ translate({ ident: "D3_ORDERMANAGER_REQU_NOTINFOLDER" }) }}</label>
                    <SELECT class="editinput" name="value[sNotInFolderId][]" id="sNotInFolderId" multiple {{ blActionRestriction }} {{ readonly }}>
                        {% for field, color in oView.getItemFolders() %}
                            <option value="{{ field }}" {% if edit.getValue('sNotInFolderId') is iterable and field in edit.getValue('sNotInFolderId') %}selected{% endif %} style="color: {{ color }};">{{ translate({ ident: field, noerror: true }) }}</option>
                        {% endfor %}
                    </SELECT><br>
                    {{ translate({ ident: "D3_ORDERMANAGER_REQU_MULTIPLE" }) }}<br>
                    <input type="button" href="#" onclick="selectAllListElems(document.getElementById('sNotInFolderId')); return false;" value="{{ translate({ ident: "D3_GENERAL_ORDERMANAGER_SELECT_ALL" }) }}" {{ blActionRestriction }} {{ readonly }}> <input type="button" href="#" onclick="selectNoListElems(document.getElementById('sNotInFolderId')); return false;" value="{{ translate({ ident: "D3_GENERAL_ORDERMANAGER_SELECT_NONE" }) }}" {{ blActionRestriction }} {{ readonly }}>
                {% endblock %}
            {% else %}
                {% block ordermanager_admin_requ_notinfolder_viewer %}
                    <ul>
                        {% for field, color in oView.getItemFolders() %}
                            {% if edit.getValue('sNotInFolderId') is iterable and field in edit.getValue('sNotInFolderId') %}
                                <li>
                                    {{ translate({ ident: field, noerror: true }) }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endif %}
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_ORDERMANAGER_REQU_NOTINFOLDER_DESC"), 'sHelpText': help_text("D3_ORDERMANAGER_REQU_NOTINFOLDER_DESC")} %}
        </dd>
        <div class="spacer"></div>
    </dl>
{% endblock %}