{% block ordermanager_admin_action_custaddtogroup %}
    <dl class="{{ blActionRestriction }}">
        {% include "@d3ordermanager/admin/inc/d3ordermanager_activeswitch.html.twig" with {oActionRequ: oAction, blActionRestriction: blActionRestriction, readonly: readonly} %}
        <dd>
            {% if oView.isEditMode() %}
                {% block ordermanager_admin_action_custaddtogroup_editor %}
                    <input type="hidden" name="value[sCustAddGroup]" value="">
                    <label for="sCustAddGroup" style="position: absolute; left: -2000px">{{ translate({ ident: "D3_ORDERMANAGER_ACTION_CUSTOMERADD2GROUP" }) }}</label>
                    <SELECT class="editinput" name="value[sCustAddGroup][]" id="sCustAddGroup" size="7" multiple {{ blActionRestriction }} {{ readonly }}>
                        {% for oGroup in oView.getGroupsList() %}
                            <option value="{{ oGroup.getId() }}" {% if edit.getValue('sCustAddGroup') is iterable and oGroup.getId() in edit.getValue('sCustAddGroup') %}selected{% endif %}>{{ oGroup.getFieldData('oxtitle') }}</option>
                        {% endfor %}
                    </SELECT><br>
                    {{ translate({ ident: "D3_ORDERMANAGER_REQU_MULTIPLE" }) }}<br>
                    {% if not blActionRestriction %}
                        <input type="button" href="#" onclick="selectAllListElems(document.getElementById('sCustAddGroup')); return false;" value="{{ translate({ ident: "D3_GENERAL_ORDERMANAGER_SELECT_ALL" }) }}" {{ readonly }}> <input type="button" href="#" onclick="selectNoListElems(document.getElementById('sCustAddGroup')); return false;" value="{{ translate({ ident: "D3_GENERAL_ORDERMANAGER_SELECT_NONE" }) }}" {{ readonly }}>
                    {% endif %}
                {% endblock %}
            {% else %}
                {% block ordermanager_admin_action_custaddtogroup_viewer %}
                    <ul>
                        {% for oGroup in oView.getGroupsList() %}
                            {% if edit.getValue('sCustAddGroup') is iterable and oGroup.getId() in edit.getValue('sCustAddGroup') %}
                                <li>
                                    {{ oGroup.getFieldData('oxtitle') }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            {% endif %}
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("D3_ORDERMANAGER_ACTION_CUSTOMERADD2GROUP_DESC"), 'sHelpText': help_text("D3_ORDERMANAGER_ACTION_CUSTOMERADD2GROUP_DESC")} %}
        </dd>
        <div class="spacer"></div>
    </dl>
{% endblock %}